body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  min-width:200px;
}

input {
  /*width: 100%;*/
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 2px 0;
}

li i {
  float: right;
  margin-top: 3px;
  margin-right: 3px;
}

li:nth-child(odd) { 
  background: #f3f3f3; 
}

a.add-bookmark {
  text-align: center;
  font-size: 15px;
  display: inline-block;
  width: 25px;
  float: left;
  margin-top: 1px;
  margin-left: -2px;
}

#searchQuery {
  display: inline-block;
  width: 173px;
  margin-top: 3px;
}

.title,
.url,
.add-button {
  width: 200px;
}

.spacing {
  margin-top: 5px;
}

.delete,
.errors {
  color: #f00;
}

.delete:hover,
.errors:hover {
  color: #b20000;
}