body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  min-width:220px;
}

#success-indicator {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
}

#success-indicator .inner {
  position: relative; 
  left: -50%;
  color: #1D9F75;
  font-size: 40px;
  border: 2px solid #ccc;
  width: 100px;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
}

#success-indicator .inner span {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 5px;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li.bookmark {
  padding: 2px 0 0 0;
}

li.bookmark:hover {
  background-color: #D8D8D8;
}

li.bookmark span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 168px;
  margin-top: 5px;
  margin-left: 2px;
}

ul li.bookmark:hover a.delete,
ul li.bookmark:hover a.edit {
  display: inline-block !important;
}

a.delete, a.edit {
  display: none;
}

li.bookmark a i {
  float: right;
  margin: -15px 0px 0 6px;
}

li:nth-child(odd) { 
  background: #f3f3f3; 
}

a.add-bookmark {
  text-align: center;
  font-size: 17px;
  display: inline-block;
  width: 25px;
  float: left;
  margin-top: 1px;
  margin-left: -2px;
  color: #ccc;
}

.star-on {
  color: #EFD677 !important;
}

#searchQuery {
  display: inline-block;
  width: 193px;
  margin-top: 3px;
}

.edit-form {
  display: none;
}

.title,
.url,
.tags,
.add-button {
  width: 220px;
}

.spacing {
  margin-top: 5px;
}

.delete,
.errors {
  color: #f00;
}

.delete:hover,
.errors:hover {
  color: #b20000;
}