body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  min-width:220px;
}

input {
  /*width: 100%;*/
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li.bookmark {
  padding: 2px 0 0 0;
}

li.bookmark span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 168px;
  margin-top: 5px;
  margin-left: 2px;
}

li i {
  float: right;
  margin: 6px 3px 0 3px;
}

li:nth-child(odd) { 
  background: #f3f3f3; 
}

a.add-bookmark {
  text-align: center;
  font-size: 17px;
  display: inline-block;
  width: 25px;
  float: left;
  margin-top: 1px;
  margin-left: -2px;
  color: #ccc;
}

.star-on {
  color: #198EE1 !important;
}

#searchQuery {
  display: inline-block;
  width: 193px;
  margin-top: 3px;
}

.edit-form {
  display: none;
}

.title,
.url,
.add-button {
  width: 220px;
}

.spacing {
  margin-top: 5px;
}

.delete,
.errors {
  color: #f00;
}

.delete:hover,
.errors:hover {
  color: #b20000;
}